@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 2%;
    padding: 0;
    font-family: roboto, sans-serif;
}

h1, h2 {
    margin-bottom: 3rem;
}

p {
    margin-bottom: 1rem;
}

